.container-fluid {
  background-color: rgba(179, 255, 0, 0.774);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.row {
  padding: 0;
}

.man-container,
.woman-container {
  width: 50vw;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.age-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.button {
  color: white;
  width: 200px;
  height: 60px;
  background-color: blue;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  cursor: pointer;
}

.text-age {
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 20%;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-age {
  height: 53px;
  font-size: 25px;
}

.category-container {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
}

.hobbies-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  margin-top: 30px;
}

.hobby {
  padding: 20px;
  background-color: #fff;
  margin-right: 5px;
  font-size: 20px;
  border-radius: 10px;
}

.hobby:hover {
  background-color: rgb(224, 224, 224);
}
