<div [ngSwitch]="step">
  <div class="container-fluid" *ngSwitchCase="0">
    <div class="man-container container">
      <div class="button" (click)="onChoice('man')">Mężczyzna</div>
    </div>
    <div class="woman-container container">
      <div class="button" (click)="onChoice('woman')">Kobieta</div>
    </div>
  </div>
  <div class="container-fluid" *ngSwitchCase="1">
    <div class="age-container container">
      <p class="text-age">Podaj swój wiek</p>
      <form action="">
        <div class="container-form">
          <input class="input-age" type="number" #age />
          <button type="button" class="button" (click)="onAge(age)">CLICK</button>
        </div>
      </form>
    </div>
  </div>
  <div class="container-fluid" *ngSwitchCase="2">
    <div class="category-container container">
      <form [formGroup]="stateForm" (ngSubmit)="onSubmit()">
        <div class="container-form">
          <input type="text" placeholder="Wybierz Hobby" formControlName="search" />
        </div>
      </form>
      <div class="hobbies-container">
        <p
          class="hobby"
          *ngFor="let c of this.questionnaireService.interests | searchFilter: getSearchValue()"
          (click)="onToggleHobby(c)"
        >
          {{ c }}<span *ngIf="hobbyList.includes(c)"> X</span>
        </p>
      </div>
    </div>
  </div>
</div>
